<!DOCTYPE html>
<html>
<head>
<title>The Gossip Project</title>
</head>

<body>
<h1> The Gossip Project 🧢 </h1>
<h2> Bienvenue <%= params["first_name"]%> </h2>
<br>
<h3> Voici la liste des potins</h3>

 <%@gossips.each do |t| %> 
 <p><%=t.user[:first_name]%> <br>
 Titre : <%=t.title%> <br> 
 <%= link_to "Voir plus", gossip_path(t.id), :class => 'btn btn-info'%>
 <%end%>
</body>

</html>